@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.content {
  width: 1263px;
  height: 100vh;
  margin: auto;
}

body {
  background-color: #f8f9f3;
}

#titleGroup {
  margin: 0;
  font-size: 18px;
  color: #0065A2;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

header {
  width: 1263px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  height: 80px;
  align-items: center;
}
header img {
  width: 50px;
  margin-right: 10px;
}
header p {
  padding-top: 10px;
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: black;
  border-width: 2px;
  padding: 5px 0;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #31633b;
  font-family: "Roboto", sans-serif;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 300;
}

.icon {
  color: #00A5E3;
  margin-bottom: 4px;
  font-size: 22px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #4141e9;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4141e9;
}
::-webkit-scrollbar-track {
  background: #24233b;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
